# Pandas Library

In [ ]:
1. It is derived from a word pannel data which means economertic from multidimensional data
2. pandas is a python module and an open source library thet is built on the top of numpy library

In [6]:
import pandas as pd
import numpy as np

In [7]:
s=pd.Series() # create empty series 
print(s)
print(type(s))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

C:\Users\Vision\AppData\Local\Temp\ipykernel_13532\4207526816.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series() # create empty series

In [8]:
a=np.array([1,2,3,4])
a

array([1, 2, 3, 4])

In [9]:
data=np.array([1,3,4,np.nan,6,8])
print(data)
s=pd.Series(data)
print(s)

[ 1.  3.  4. nan  6.  8.]
0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
import os
os.getcwd()

'C:\\Users\\Vision\\Desktop\\data_science_workshop'

In [11]:
import pandas as pd
data=pd.read_csv('weather.csv')
print(data)

     MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0        8.0     24.3       0.0          3.4       6.3          NW
1       14.0     26.9       3.6          4.4       9.7         ENE
2       13.7     23.4       3.6          5.8       3.3          NW
3       13.3     15.5      39.8          7.2       9.1          NW
4        7.6     16.1       2.8          5.6      10.6         SSE
..       ...      ...       ...          ...       ...         ...
361      9.0     30.7       0.0          7.6      12.1         NNW
362      7.1     28.4       0.0         11.6      12.7           N
363     12.5     19.9       0.0          8.4       5.3         ESE
364     12.5     26.9       0.0          5.0       7.1          NW
365     12.3     30.2       0.0          6.0      12.6          NW

     WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  ...  Humidity3pm  \
0             30.0         SW         NW           6.0  ...           29
1             39.0          E          W           4.0  ...           36
2             85.0          N        NNE           6.0  ...           69
3             54.0        WNW          W          30.0  ...           56
4             50.0        SSE        ESE          20.0  ...           49
..             ...        ...        ...           ...  ...          ...
361           76.0        SSE         NW           7.0  ...           15
362           48.0        NNW        NNW           2.0  ...           22
363           43.0        ENE        ENE          11.0  ...           47
364           46.0        SSW        WNW           6.0  ...           39
365           78.0         NW        WNW          31.0  ...           13

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0         1019.7       1015.0         7         7     14.4     23.6
1         1012.4       1008.4         5         3     17.5     25.7
2         1009.5       1007.2         8         7     15.4     20.2
3         1005.5       1007.0         2         7     13.5     14.1
4         1018.3       1018.5         7         7     11.1     15.4
..           ...          ...       ...       ...      ...      ...
361       1016.1       1010.8         1         3     20.4     30.0
362       1020.0       1016.9         0         1     17.2     28.2
363       1024.0       1022.8         3         2     14.5     18.3
364       1021.0       1016.2         6         7     15.8     25.9
365       1009.6       1009.2         1         1     23.8     28.6

     RainToday  RISK_MM RainTomorrow
0           No      3.6          Yes
1          Yes      3.6          Yes
2          Yes     39.8          Yes
3          Yes      2.8          Yes
4          Yes      0.0           No
..         ...      ...          ...
361         No      0.0           No
362         No      0.0           No
363         No      0.0           No
364         No      0.0           No
365         No      0.0           No

[366 rows x 22 columns]

In [17]:
data['Sunshine'].min

<bound method NDFrame._add_numeric_operations.<locals>.min of 0       6.3
1       9.7
2       3.3
3       9.1
4      10.6
       ...
361    12.1
362    12.7
363     5.3
364     7.1
365    12.6
Name: Sunshine, Length: 366, dtype: float64>

In [18]:
data.fillna(0)
data['WindSpeed9am'].mean()

9.651810584958218

# creating dataframe

pandas dataframe is the two-dimensional size-mutable potentially hetrogeneous tabular data structure with labels axes(row and columns). Its consist of three  principle components i.e. data , row, columns

In [19]:
df=pd.read_csv('wheather-data.csv')
df

          day  temperature  Unnamed: 2  windspeed  event
0  01-12-2023           32         NaN          6   rain
1  01/13/2023           35         NaN          7  sunny
2  01/14/2023           45         NaN          2   snow
3  01/15/2023           48         NaN          4    NaN

In [20]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df.shape
row, columns=df.shape
columns

4

In [22]:
row

6

In [23]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [24]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [25]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [26]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [27]:
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [28]:
df[['event']]

   event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [29]:
df['temperature'].max()

35

In [32]:
df['temperature'].min()

24

In [33]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [34]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [36]:
df=pd.DataFrame(weather_data)
df
df[['day','temperature']][df.temperature==df['temperature'].min()]

        day  temperature
3  1/4/2017           24

In [37]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [38]:
df.set_index('day', inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [39]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [40]:
df.set_index('event', inplace=True)
df

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            28          2
Snow            24          7
Rain            32          4
Sunny           31          2

In [42]:
df.loc['Snow']

       temperature  windspeed
event
Snow            28          2
Snow            24          7

In [43]:
df.reset_index(inplace=True)
df

   event  temperature  windspeed
0   Rain           32          6
1  Sunny           35          7
2   Snow           28          2
3   Snow           24          7
4   Rain           32          4
5  Sunny           31          2